.start__action, .f-start__label {
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.board-row {
    width: 50%;
}

.square {
    width: 33.333%;
    min-height: 150px;
    border: 1px solid #333;
    float: left;
    font-size: 90px;
    text-align: center;
}
